<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Juan - DB-->
    <add name="ApplicationServices" connectionString="Server=JUAN-PC\SQLEXPRESS2008; Database=TrackMe;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TrackMeContext" connectionString="metadata=res://*/TrackMeModel.csdl|res://*/TrackMeModel.ssdl|res://*/TrackMeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JUAN-PC\SQLEXPRESS2008;Initial Catalog=TrackMe;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!-- Adrian - DB-->
    <!--<add name="ApplicationServices" connectionString="Server=(local); Database=TrackMe;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TrackMeContext" connectionString="metadata=res://*/TrackMeModel.csdl|res://*/TrackMeModel.ssdl|res://*/TrackMeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TrackMe;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="DefaultIoCContainer" value="RealContext" />
    <!-- Wait time in seconds -->
    <add key="ServiceWaitTime" value="20" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
 </configuration>