<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Juan - DB-->
    <!--<add name="TrackMeContext" connectionString="metadata=res://*/TrackMeModel.csdl|res://*/TrackMeModel.ssdl|res://*/TrackMeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JUAN-PC\SQLEXPRESS2008;Initial Catalog=TrackMe;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Adrian - DB-->
    <add name="TrackMeContext" connectionString="metadata=res://*/TrackMeModel.csdl|res://*/TrackMeModel.ssdl|res://*/TrackMeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JUAN-PC\SQLEXPRESS2008;Initial Catalog=TrackMe;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>